:root {
    --color-primary: #4A4E69;
    --color-secondary: #9A8C98;
    --color-accent: #C9ADA7;
    --color-text: #ffffff;
    
    --font-primary: 'Arial', sans-serif;
    --font-secondary: 'Courier New', Courier, monospace;
}

/* Global Styles */
body {
    font-family: var(--font-primary);
    color: var(--color-text);
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}



.content {
    padding: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid var(--color-secondary);
    text-align: center;  
}

th {
    background-color: var(--color-accent);
}

tr:hover {
    background-color: var(--color-accent);
}

.button {
    background-color: var(--color-accent);
    border: none;
    color: var(--color-bg);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background-color: var(--color-secondary);
}