footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: var(--HeaderFooter);
    color: white;
    margin: auto;

}
footer>*{
    margin-left: 10px;
}
.Github{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
footer a{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px;
    border: 1px var(--HeaderFooter);
    background-color: var(--HeaderFooter);
    text-decoration: none;
    width: 100px;
    text-align: center;
    border-radius: 5%;
}
footer a:visited{
    color: white;
}
footer a:link{
    color: white;
}
footer a:hover{
    background-color: #7D3C98;
}