table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 20px 0;
}
th, td {
    padding: 12px;
    text-align: left;
}

input[name="show all"]{
    align-items: end;
    padding-right: 20px ;
    }

    tr:nth-child(even) {
        background-color: rgb(155, 175, 229);
    }
    tr:nth-child(odd) {
        background-color: rgb(96, 106, 119);
    }